{% load staticfiles %}
<html>
    <head>
        <title>Address Book</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <h1>Contact List</h1>
       {% comment %} <ul>
            {% for person in object_list %}
            <li>{{ person.first_name }}  :
            <a href="{% url "person_edit" person.id %}">{{ person.email }}</a>
            <a href="{% url "person_delete" person.id %}">delete</a>
            </li>
            {% endfor %}
        </ul>{% endcomment %}

        <a href="{% url "person_add" %}">Add Contact</a>

        <table class="center">
        <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Email
            </th>
        </tr>
        </thead>
        {% for person in object_list %}
            <tr>
                <td>
                    {{ person.first_name }}
                </td>
                <td>
                    {{ person.last_name }}
                </td>
                <td>
                    {{ person.email}}
                </td>

                <td class="button">
                    <a class="btn btn-default" role="button" href="{% url "person_edit" person.id %}">edit</a>
                </td>
                <td class="button">
                    <a class="btn btn-default " role="button" href="{% url "person_delete" person.id %}">delete</a>
                </td >
        </tr>
            {% endfor %}
            </table>

    </body>
</html>



