{% load staticfiles %}
<html>
    <head>
        <title>Contact Book</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
    </head>
    <body>
<a href="{% url "person_list" %}">View Contacts</a>
<a href="{% url "person_add" %}">Add Contacts</a>
<div class="assembly">
  <div class="comp-3d comp-3d--i">
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
    <div class="cube">
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
      <div class="cube__face"></div>
    </div>
  </div>
  <div class="comp-3d comp-3d--o">
    <div class="pos">
      <div class="cube">
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
      </div>
    </div>
    <div class="pos">
      <div class="cube">
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
      </div>
    </div>
    <div class="pos">
      <div class="cube">
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
      </div>
    </div>
    <div class="pos">
      <div class="cube">
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
      </div>
    </div>
    <div class="pos">
      <div class="cube">
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
      </div>
    </div>
    <div class="pos">
      <div class="cube">
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
      </div>
    </div>
    <div class="pos">
      <div class="cube">
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
      </div>
    </div>
    <div class="pos">
      <div class="cube">
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
        <div class="cube__face"></div>
      </div>
    </div>
  </div>
</div>

    </body>
</html>



